<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mania de Fome</title>

    <link rel="stylesheet" href=style.css>
</head>
<body>

    <header>
        <div class="logo-area">
            <img src="logo.png" alt="Logo Mania de Fome">
            <h1>Mania de Fome</h1>
        </div>

        <nav>
            <a href="#">Início</a>
            <a href="#">Cardápio</a>
            <a href="#">Contato</a>
        </nav>
    </header>

    <section class="banner">
        <div class="banner-text">
            <h2>Comida saudável entregue rapidinho!</h2>
            <p>Peça agora sua refeição favorita.</p>
            <button>Fazer Pedido</button>
        </div>
    </section>

    <section class="cards">

<section class="cards">

    <div class="card">
        <img src="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?q=80&w=800&auto=format&fit=crop" alt="Marmita Fitness">

        <h3>Marmita Fitness</h3>
        <p>Frango grelhado com legumes.</p>
        <span>R$ 22,90</span>
        <button type="button" class="botaocomida">Ver mais informações!</button>
    </div>

    <div class="card">
        <img src="https://images.unsplash.com/photo-1546793665-c74683f339c1?q=80&w=800&auto=format&fit=crop" alt="Salada Natural">

        <h3>Salada Natural</h3>
        <p>Mix de folhas e vegetais frescos.</p>
        <span>R$ 18,90</span>
        <button type="button" class="botaocomida">Ver mais informações!</button>
    </div>

    <div class="card">
        <img src="https://images.unsplash.com/photo-1623065422902-30a2d299bbe4?q=80&w=800&auto=format&fit=crop" alt="Suco Detox">

        <h3>Suco Detox</h3>
        <p>Suco natural refrescante.</p>
        <span>R$ 9,90</span>
        <button type="button" class="botaocomida">Ver mais informações!</button>
    </div>

</section>
    </section>

    <footer>
        <p>© 2026 Mania de Fome - Todos os direitos reservados.</p>
    </footer>

</body>
</html>