<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preferências do Usuário</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <div class="container">
        <h1>Projeto Flask com Cookies</h1>

<h1>Bem-vindo!</h1>
<p>Olá, visitante!</p>

<a href="/tema/claro">
    <button>Tema Claro</button>
</a>

<a href="/tema/escuro">
    <button>Tema Escuro</button>
</a>
            </a>
        </div>
    </div>

</body>
</html>